
.mainpane{
    -fx-background-image: url("../resources/background.jpg");
}

.icono{
    -fx-background-color: transparent;
    -fx-font: bold 14pt 'M10Regular';
    -fx-text-fill: white;
    -fx-effect: dropshadow( gaussian ,black , 2,0.4,1,1 );  
}
.icono:hover{
    -fx-background-color: #2E2EFE;  
}

.icono2{
    -fx-background-color: transparent;  
}

.tab{
    -fx-font-size: 12px;
}
.tab-header-area {
    -fx-padding: 0.0em 0.0em 0.0em 0.0em;
}
